@import url( 'https://fonts.googleapis.com/css?family=Quicksand');

body,
html {
    font-family: 'Quicksand', sans-serif;
}

.header-principal {
    background-image: url('https://res.cloudinary.com/cristiansam/image/upload/v1538870066/Humberto-ui/Humberto-Munoz-Ordonez-mejor-planta-fisica.jpg') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgb(100, 100, 100) !important;
    background-blend-mode: soft-light;
}

.iem {
    font-size: 5em;
}
.sub-institute {
    font-size: 2.5em;
    position: static;
}
.descp-obj {
    display: inline-block;
    background: white;
    color: black !important;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

/*Banner de home*/
.social-media {
    display: flex;
    background-color: #0c6cd4;
    width: 100%;
    height: 80px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.icons {
    font-size: 50px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.follow p {
    display: flex;
    color: white;
    padding: 3px;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 5%;
    align-items: flex-start;
}

.link-col {
    display: flex;
    text-decoration: none !important;
    background-color: white;
    border-radius: 25px;
    padding: 7px;
    font-size: 2.1em;
    font-weight: bold;
    margin-left: 15%;
    margin: 10px 10px 10px 10px;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}
.link-col a {
    text-decoration: none !important;
    color:#0c6cd4;
}
.link-col i {
    padding: 10px;
}

.item-background-doc {
    background-color: #2366F9;
    color: white;
    border-radius: 5px;
    padding: 8px;
}
.item-background-est {
    background-color: #FC880B;
    color: white;
    border-radius: 5px;
    padding: 8px;
}
.item-background-vis {
    background-color: #54BC4C;
    color: white;
    border-radius: 5px;
    padding: 8px;
}
.img-profile-home {
    display: flex;
    width: 50px;
    float: right;
}

.roles {
    overflow: hidden;
    display: flex;
    border-radius: 8px;
    margin: 20px;
}
/*Elemento del layout globales*/

/*Footer principal*/
.footer-size {
    height: 25px !important;
    background-color: rgb(50, 50, 50);
}
.footer-desp {
    color: white;
    font-size: 1.5em;
    font-style: bold;
}
.footer-version {
    display: inline-block;
    margin-top: -20px;
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-size: 1.2em;
    background-color: white;
}
/*Sesión docentes*/
.header-salon-docentes {
    background-image: url('http://res.cloudinary.com/cristiansam/image/upload/v1537043980/Humberto-ui/salon-clases-docentes.jpg') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgb(100, 100, 100) !important;
}

.doc-title {
    font-size: 3em;
}
.doc-subtitle {
    font-size: 1.3em;
}

.doc-titulo-principal {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 30px;
}
/*Sesión estudiantes*/
.header-salon-estudiantes {
    background-image: url('http://res.cloudinary.com/cristiansam/image/upload/v1537044971/Humberto-ui/entorno-estudiante.jpg') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgb(100, 100, 100) !important;
}
/*Sesión visitantes*/
.header-visitantes {
    background-image: url('http://res.cloudinary.com/cristiansam/image/upload/v1537045164/Humberto-ui/entorno-visitantes.jpg') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgb(100, 100, 100) !important;
}

/*HomeBelow estilos*/

.imagen-entorno-doc {
    display: flex;
    width: 40%;
    margin: 0 20px 20px;
}
.entorno-doc {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
}
.color-doc {
    background-color: #DCDCDC;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.infraestructura-inst {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0 !important;
}
.imagen-infraestructura-inst {
    display: flex;
    width: 40%;
    margin: 0 20px 20px;
    position: relative;
}

.deportistas-humberto {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0 !important;
}
.imagen-deportistas-humberto {
    display: flex;
    width: 40%;
    margin: 0 20px 20px;
    position: relative;
}

.mapa-institute {
    display: flex;
    width: 100%;
    height: 33%;
}
