@import url( 'https://fonts.googleapis.com/css?family=Quicksand');

body,
html {
    font-family: 'Quicksand', sans-serif;
}

.header {}
.iem {
    font-size: 5em;
}
.sub-institute {
    font-size: 2.5em;
}
.descp-obj {
    font-style: italic;
}

.roles {
    overflow: hidden;
    display: flex;
    border-radius: 8px;
    margin: 20px;
}
