@import url( 'https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

body,
html {
    font-family: 'Quicksand', sans-serif;
}

.header-principal {
    background-image: url('https://res.cloudinary.com/cristiansam/image/upload/v1538870066/Humberto-ui/Humberto-Munoz-Ordonez-mejor-planta-fisica.jpg') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgb(100, 100, 100) !important;
    background-blend-mode: soft-light;
}

.iem {
    font-size: 5em;
}
.sub-institute {
    font-size: 2.5em;
    position: static;
}
.descp-obj {
    display: inline-block;
    background: white;
    color: black !important;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
/*INTRO PRINCIPAL*/
.intro-image {
    display: flex;
    background-image: url('https://res.cloudinary.com/cristiansam/image/upload/v1539037429/Humberto-ui/Intro.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgb(100, 100, 100) !important;
    background-blend-mode: soft-light;
}
.intro-titulo {
    font-size: 3em;
}
/*Botones para elegir dispositivo*/
.b-elegir-dispositivo {
    display: flex;
    flex-direction: column !important;
    width: 30%;
    justify-content: center;
    align-items: center;
}
/*Banner de home*/
.social-media {
    display: flex;
    background-color: #0c6cd4;
    width: 100%;
    height: 80px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.icons {
    font-size: 50px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.follow p {
    display: flex;
    color: white;
    padding: 3px;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 5%;
    align-items: flex-start;
}

.link-col {
    display: flex;
    text-decoration: none !important;
    background-color: white;
    border-radius: 25px;
    padding: 7px;
    font-size: 2.1em;
    font-weight: bold;
    margin: 10px;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}
.link-col a {
    text-decoration: none !important;
    color: #0c6cd4;
}
.link-col i {
    padding: 10px;
}

.item-background-doc {
    background-color: #2366F9;
    color: white;
    border-radius: 5px;
    padding: 8px;
}
.item-background-est {
    background-color: #FC880B;
    color: white;
    border-radius: 5px;
    padding: 8px;
}
.item-background-vis {
    background-color: #54BC4C;
    color: white;
    border-radius: 5px;
    padding: 8px;
}
.img-profile-home {
    display: flex;
    width: 50px;
    float: right;
}

.roles {
    overflow: hidden;
    display: flex;
    border-radius: 8px;
    margin: 20px;
}
/*Elemento del layout globales*/

/*Footer principal*/
.footer-size {
    height: 25px !important;
    background-color: rgb(50, 50, 50);
}
.footer-desp {
    color: white;
    font-size: 1.5em;
    font-style: bold;
}
.footer-version {
    display: inline-block;
    margin-top: -20px;
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-size: 1.2em;
    background-color: white;
}
/*Sesión docentes*/
.header-salon-docentes {
    background-image: url('http://res.cloudinary.com/cristiansam/image/upload/v1537043980/Humberto-ui/salon-clases-docentes.jpg') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgb(100, 100, 100) !important;
}

.doc-title {
    font-size: 3em;
}
.doc-subtitle {
    font-size: 1.3em;
}

.doc-titulo-principal {
    display: flex;
    color: white;
    border-radius: 0 0 5px 5px;
    text-align: center;
    padding: 10px;
    background-color: gray;
    justify-content: center;
    align-self: center;
    margin: auto;
    width: 50%;
}
/*Sesión estudiantes*/
.header-salon-estudiantes {
    background-image: url('http://res.cloudinary.com/cristiansam/image/upload/v1537044971/Humberto-ui/entorno-estudiante.jpg') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgb(100, 100, 100) !important;
}
/*Sesión visitantes*/
.header-visitantes {
    background-image: url('http://res.cloudinary.com/cristiansam/image/upload/v1537045164/Humberto-ui/entorno-visitantes.jpg') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgb(100, 100, 100) !important;
}

/*HomeBelow estilos*/

.imagen-entorno-doc {
    display: flex;
    width: 40%;
    margin: 0 20px 20px;
}
.entorno-doc {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
}
.color-doc {
    background-color: #DCDCDC;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.infraestructura-inst {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0 !important;
}
.imagen-infraestructura-inst {
    display: flex;
    width: 40%;
    margin: 0 20px 20px;
    position: relative;
}

.deportistas-humberto {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0 !important;
}
.imagen-deportistas-humberto {
    display: flex;
    width: 40%;
    margin: 0 20px 20px;
    position: relative;
}

.mapa-institute {
    display: flex;
    width: 100%;
    height: 33%;
}
/*Not Found componentes*/

.components-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.components-not-found img {
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    width: 40%;
}
.components-not-found h2 {
    display: flex;
    font-size: 2.3em;
    margin: auto;
}
.b-not-found {
    display: inline-flex;
    margin: auto;
    width: 50%;
}

/*Componente insignia de DocInsignia*/
.insignia-icon {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 120px;
}

.insignia-description {
    display: flex;
    margin: auto;
    justify-content: center;
}
.boton-ir-doc-insignia {
    display: flex;
    justify-content: center;
    margin: 10px auto 10px  auto;
    width: 50%;

}
.Docentes-insignia {
    display: flex;
    justify-content: center;
    justify-items: center;
}
div.maestro {
    display: flex;
    margin: 20px;
    justify-items: center;
    position: relative;
    width: 270px;
    height: 340px;
}
div.maestro img {
    max-width: 100%;
    border-radius: 5px;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all 0.5s ease-in-out;
}
div.maestro:hover img {
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}

div.maestro p {
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    text-align: left;
    color: white;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
}
div.maestro:hover p {
    bottom: -80px;
    opacity: 0;
}
/*Título para elegir jornadas*/
.titulo-por-jornada {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 2.1em;
}
.b-jornadas {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    margin: auto;
}

/*Book de las jornadas*/
.book-mañana img {
    display: flex;
    margin: 0;
}
.tarjeta-informativa {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 25%;
    height: 30%;
    border-radius: 8px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.b-identificador {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.content-board {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    align-content: center;
    width: 60%;
    height: 8vh;
}

/*Info tags tarde-maañana*/
.info-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Días de la semana para info*/
.dias-semana-info {
    display: flex;
    flex-direction: column;
    margin: 20px !important;
    justify-content: space-between;
}

/*Espacio entre las cards*/
.space-around {
    display: flex;
    margin-bottom: 10px;
    border-radius: 3px;
    font-weight: 700;
}
.space-around p {
    display: flex;
    margin-left: 10px;
}

/*Tarjetas para visitantes que son padres*/
.tarjeta-visitantes-padres {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
}
.description-content-parent {
    display: flex;
    margin-top: 15px;
}
/*Direct-to-web without decoration*/
.direct-to-web a {
    display: flex;
    text-decoration: none !important;
}

/*Herramientas para estudiantes*/

/*Intro de entorno de herramientas para estdudiantes*/
.intro-image-estudiantes-tools {
    display: flex;
    flex-direction: row;
}
.intro-image-estudiantes-tools img {
    display: flex;
    margin: 0 0 0 20px;
    flex-direction: row;
    width: 50%;
}
.tarjeta-entorno-herramientas {
    display: flex;
    flex-direction: row;
    margin: 10%;
    justify-content: center;
    align-self: center;
    border-radius: 8px;
    height: 52%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*Tools presentaciones*/
.tools-presentaciones-nuclino {
    display: flex;
    color: white;
    flex-direction: column;
    width: 18%;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    background-color: #fa5560;
}
.tools-presentaciones-nuclino img {
    display: flex;
    border-radius: 8px;
}
.tools-presentaciones-prezi {
    display: flex;
    color: white;
    flex-direction: column;
    width: 18%;
    border-radius: 8px;
    margin: 20px 0;
    padding: 20px;
    background-color: #4f81c2;
}
.tools-presentaciones-gslides {
    display: flex;
    color: white;
    flex-direction: column;
    width: 18%;
    border-radius: 8px;
    margin: 20px 0 20px 20px;
    padding: 20px;
    background-color: #f9a51a;
}
.tools-presentaciones-canva {
    display: flex;
    color: white;
    flex-direction: column;
    width: 18%;
    border-radius: 8px;
    margin: 20px 0 20px 20px;
    padding: 20px;
    background-color: #00c0cb;
}
.tools-presentaciones-canva img {
    display: flex;
    border-radius: 8px;
}

.tools-presentaciones-swipe {
    display: flex;
    color: white;
    flex-direction: column;
    width: 18%;
    border-radius: 8px;
    margin: 20px 0 20px 20px;
    padding: 20px;
    background-color: #ff9e07;
}
.presentaciones-back {
    display: flex;
    background-image: url('https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.titulo-presentaciones {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    color: white;
}

/*Herramientas de productividad*/
.productividad-tools {
    display: flex;
    background-image: url('https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    box-sizing: border-box;
    flex-direction: row-reverse;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: rgb(100, 100, 100) !important;
}
.tools-productividad-mtodo {
    display: flex;
    color: white;
    flex-direction: column;
    width: 18%;
    border-radius: 8px;
    margin: 20px 20px 20px 0;
    padding: 20px;
    background-color: #287ae9;
}
.tools-productividad-mtodo img {
    display: flex;
    border-radius: 8px;
}
.tools-productividad-trello {
    display: flex;
    color: white;
    flex-direction: column;
    width: 18%;
    border-radius: 8px;
    margin: 20px 20px 20px 0;
    padding: 20px;
    background-color: #287ae9;
}
.tools-productividad-trello img {
    display: flex;
    border-radius: 8px;
}
.titulo-productividad p {
    display: flex;
    margin-top: 60%;
    margin-left: -130%;
}
.productividad-fijo {
    display: flex;
    color: white;
    font-size: 1.5em;

}

/*Herramientas para escritura*/
/*Global para el padre*/
.escritura-tools {
    display: flex;
    background-image: url('https://images.unsplash.com/photo-1514474959185-1472d4c4e0d4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=96bf03736904de12e0e5410c3ed2521b&auto=format&fit=crop&w=667&q=80');
    box-sizing: border-box;
    flex-direction: row;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: rgb(100, 100, 100) !important;
}
/*Para Evernote*/
.tools-escritura-evernote {
    display: flex;
    color: white;
    flex-direction: column;
    width: 18%;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    background-color: #46b862;
}

.tools-escritura-evernote img {
    display: flex;
    border-radius: 8px;
}

/*Para Medium*/
.tools-escritura-medium {
    display: flex;
    color: gray;
    flex-direction: column;
    width: 18%;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    background-color: #f8f8f8;
}
.titulo-escritura p {
    display: flex;
    justify-content: center;
    margin-top: 80%;
    align-content: center;
    margin-right: -330%;

}
.escritura-fijo {
    display: flex;
    color: white;
    font-size: 1.5em;
    margin: 50%;
    text-decoration-line: initial;
}
